<div id="container">
	<div id="landing-page">
		<div id="title">
			<h1>Hit counter</h1>
			<h2>Log &amp; view your website hits</h2>
		</div>
		<div id="start">
			<div id="create-project">
				{{#if start.errors}}
				Error:
				<ul>
					{{#start.errors}}
					<li>{{msg}}</li>
					{{/start.errors}}
				</ul>
				{{/if}}
				<form action="/start" method="post" autocomplete="off">
					<input class="form-control" name="project" placeholder="Project name" value="{{start.values.project}}">
					<input class="form-control" name="username" placeholder="Username" value="{{start.values.username}}">
					<input class="form-control" name="password" type="password" placeholder="Password" value="{{start.values.password}}">
					<input class="btn btn-success" type="submit" value="Create project">
				</form>
			</div>
			<div id="login">
				<h1>Already have an account?</h1>
				{{#if login.errors}}
				Error:
				<ul>
					{{#login.errors}}
					<li>{{msg}}</li>
					{{/login.errors}}
				</ul>
				{{/if}}
				<form action="/home" method="post">
					<input class="form-control" name="username" placeholder="Username" value="{{login.values.username}}">
					<input class="form-control" name="password" type="password" placeholder="Password" value="{{login.values.password}}">
					<input class="btn btn-primary" type="submit" value="Log in">
				</form>
			</div>
		</div>
	</div>
</div>